/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.text-white {
  color: #fff !important;
}

.clear {
  clear: both;
}

#main {
  /* You might want to add a max-width or padding here */
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1000;
}

#nav {
  display: inline-block;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}

#nav li:hover a {
  color: #000;
  background-color: #ccc;
  display: inline-block;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
  cursor: pointer;
  line-height: 46px; /* Fixing the alignment */
}

#header .search-btn:hover {
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  font-size: 24px;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url('/eminem/assets/img/slider/slider1.jpg') top center / cover no-repeat;
  position: relative;
}

#slider .text-content {
  position: absolute;
  color: #fff;
  bottom: 47px;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {
  /* You might want to add some padding here */
}

#content .content-section {
  width: 1000px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  margin-top: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .albums-list {
  margin-top: 48px;
}

#content .album-button {
  float: left;
  width: 25%;
  text-align: center;
  display: block;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 24px
}

#content .album-name {
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

#content .album-button:hover {
  transform: scale(1.2);
}

#content .album-img {
  width: 154px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

#content .album-year {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

#footer {
  /* Add your footer styling here */
}
/* CSS for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 900px; /* Fixed width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.modal-close:hover {
  background-color: red;
}

.modal-close i {
  font-size: 20px;
  color: #999;
}

.modal-close i:hover {
  color: #fff;
}
.modal-header {
  margin-top: 20px;
  background-color: #fff;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-banner {
  height: 300px;
}

.modal-body {
  padding: 20px;
  flex: 1;
}

.modal-label {
  display: flex;
  align-items: center;
}

/*  */

.modal-about{
    width: 100%;
    min-height: 100px;
    background-color: #87ddf2;
    padding:20px;
    box-sizing: border-box;
    border-radius: 4px;
}

.modal-album-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.modal-album-description {
    text-align: center;
    font-size: 16px;
    padding: 0 16px;
    line-height: 1.4;
}
.tracks-list{
    width: 100%;
    background-color: #8dd5dd;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 4px;
}

#tracks {
    list-style: none;
    padding: 0;
}
#tracks li {
    font-size: 16px;
    margin: 10px 0;
}
.track-item {
    width: 800px;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}
  
.track-item a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
  
.track-item:hover {
    background-color: #ddd;
}
  
.track-item a:hover {
    color: #f44336;
}
.track-label {
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
.track-label:hover {
    transform: scale(1.1);
}
  
.track-left {
    flex: 0 0 70%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
  
.track-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.track-description {
    font-size: 14px;
    color: #666;
    
}
  
.track-right {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f6573;
}
  
.track-banner {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
  
